* {
    padding: 0;
    margin: 0;
    
}

/* Colori */
:root {
    --headerbgcolor: #C2471F; /* Colore di sfondo dell'header */
    --footerbgcolor: #C2471F; /* Colore di sfondo del footer */
    --visitedlinkcolor: #DD723C; /* Colore dei link visitati */
    --breadcrumbtextcolor: #C2471F; /* Colore del testo del breadcrumb */
    --unvisitedlinkcolor: #004a66; /* Colore dei link non visitati */
    --textcolor: #290E00; /* Colore del testo */
    --defaultbgcolor: #FFFFFF; /* Colore di sfondo predefinito */
    --percorsibgcolor: #E6E6E6;
}

html,
body {
    height: 100vh;
    
    font-size: 100%;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--textcolor);
    background-color: var(--defaultbgcolor);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header */
header {
    display: flex; 
    align-items: center; 
    background-color: var(--headerbgcolor);
    color: white;
    padding: 1em 2em;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}

header .logo { 
    width: 60px; /* Dimensione del logo */ 
    height: auto; 
    margin-right: 1em; /* Spazio tra il logo e il titolo */
}

header h1 {
    font-size: 2em;
    margin: 0;
}

/* Menu */
#menu {
    margin-top: 0.5em; /* Spazio sopra il menu */
    padding-bottom: 0.5em; /* Spazio sotto il menu */
    position: relative;
}

#menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
}

.menu-underline {
    height: 6px;
    background-color: var(--headerbgcolor);
    width: 95%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
}

#menu a {
    color: var(--unvisitedlinkcolor);
    text-decoration: none;
    padding: 0.5em 1em;
}

#menu a:hover {
    color: var(--visitedlinkcolor);
}

#menu a:visited {
    color: var(--visitedlinkcolor);
}

#currentLink {
    color: var(--visitedlinkcolor);
    border-bottom: none;
}

/* Breadcrumb */
#breadcrumb {
    width: 95%; /* Larghezza del breadcrumb */
    margin: 1em auto; 
    padding: 0.5em 1em; 
    border: 3px solid var(--headerbgcolor); 
    border-radius: 17px; 
    color: var(--breadcrumbtextcolor); 
}




.left{
    background-color: var(--defaultbgcolor);
    padding: 3em 0 3em 0;
    flex: 2 2 100px;
    
}
.percorso{
    display: flex;
}

.mainPercorso{
    background: var(--defaultbgcolor);
    padding: 3em 0 3em 0;
    flex: 4 4 150px;
    display:flex;
    flex-direction: column;
}


.wrapper{
    position: relative;
    max-width: 25rem;
    margin-left: 5em;
}

.mapContainer{
    padding-top:2rem;
    display: flex;
    aspect-ratio: 4/3;
}

.mapContainer img{
    border-radius: 0.5rem;
    flex: 1 0 100%;
}

.slider{
    display: flex;
    aspect-ratio: 4/3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth ;
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--defaultbgcolor);
    opacity: 0.75;

    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.descrizione{
    
    padding: 1em;
    background-color: var(--percorsibgcolor);
    
    max-width: 80%;
    flex:2;
    align-self: center;
    border-radius: 0.5rem;
}

.indicazioni{
    margin-top: 4rem;
    padding: 1em;
    background-color: var(--percorsibgcolor);
    
    max-width: 80%;
    flex:1;
    align-self: center;
    border-radius: 0.5rem;
    
}

.recensioni{
    display: flex;
    flex-direction: column;
    
    padding: 1em;
    background-color: var(--percorsibgcolor);
    
    width: 85%;
    flex:1;
    align-self: center;
    border-radius: 0.5rem;

    margin-bottom: 2em;
    margin-left: 7%;
    
}

.recensione{
    padding: 0.7em;
    background-color: var(--defaultbgcolor);
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
}

.gpx{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

h4{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    padding-bottom: 1rem;
}

/* Footer */
#footer {
    background-color: var(--footerbgcolor);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: auto; 
}

.formInput {
    width: 25em;
    background-color: var(--percorsibgcolor);
    margin: auto;
    border-radius: 30px;
}

.formInput fieldset {
    padding: 2em 3em 2em 3em;
    border: 2px solid var(--headerbgcolor);
    border-radius: 30px;
}

.styleInput {
    width: 100%;
    height: 2em;
    font-size: larger;
    text-indent: 0.5em;
}

.formInput *:not(.ultimoInput):not(option) {
    margin-bottom: 1em;
}

.formInput input[type=submit] {
    display: block;

    padding-left: 0.5em;
    padding-right: 0.5em;

    height: 2em;

    margin: auto;
    margin-bottom: 1em;
    
    
}

label:after {
    content: ": ";
}

.errorSuggestion {
    color: rgb(0, 0, 0);
    font-size: 1em;
    display: block;
     margin-top: -1em; 
}

.button[type=button]
{
    display: block;

    padding-left: 0.5em;
    padding-right: 0.5em;

    height: 2em;
    text-decoration: underline;

    margin-top: 1.2em;

}

.button {
    background-color: var(--unvisitedlinkcolor);
    color: white;
    border-radius: 3px;
    border: none;
    font-size: large;
    cursor: pointer;

    width: fit-content;
}

.button:hover {
    background-color: rgba(5, 111, 129, 0.993);
    border: 2px solid rgb(0, 75, 102);
    color: white;
}


.nomePercorso {
    align-self: flex-start;
    margin: 1em;
}

.descrizionePercorso {
    
    margin: 1em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3{
    align-self: flex-start;
}

p{
    text-align: start;
}

hr{
    height:8px;
    background-color: black;
    border-radius: 0.3em;
}

.valutazione{
    margin-top: 1em;
}

#formcontent h2 {
    text-align: center;
    margin-bottom: 0.4em;
    padding-top: 0.4em;
    
}

.inputRecensione{
    display: flex;
    align-self: flex-start;
    
    height: 3em;
    width: 80%;
}