/* GENERALI */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;    
}


/* COLORI GLOBALI */
:root {
    --headerbgcolor: #C2471F;
    --footerbgcolor: #C2471F;
    --visitedlinkcolor: #DD723C;
    --breadcrumbtextcolor: #C2471F;
    --unvisitedlinkcolor: #004a66;
    --textcolor: #290E00;
    --defaultbgcolor: #FFFFFF;
    --percorsibgcolor: #E6E6E6;
}


/* HEADER */
header {
    display: flex; 
    align-items: center; 
    background-color: var(--headerbgcolor);
    color: white;
    padding: 1em 2em;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
}

header .logo { 
    width: 60px;
    height: auto; 
    margin-right: 1em;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}


/* MENU */
#menu {
    margin-top: 0em;
    padding-bottom: 0em;
    border-bottom: var(--headerbgcolor) 4px solid;  
}

#menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    max-width: 95%;
}

#menu a {
    padding: 0.5em 3em;
}

#menu a:visited {
    color: var(--visitedlinkcolor);
}

/* Bottone accedi/registrati */
nav#menu .login-button {
    display: inline-flex; 
    align-items: center; 
    justify-content: center;
    padding: 0.5em 2em; 
    font-size: 1em;
    font-weight: bold;
    background-color: var(--unvisitedlinkcolor);
    border-radius: 20px;
    min-width: 14em; 
    color: white;
    text-decoration: none;
}

nav#menu .login-button .icon-login {
    margin-left: 0.5em;
    width: 1.4em;
    height: 1.4em;
}


.hamburger {
    display: none; 
}


/* BREADCRUMB */
#breadcrumb {
    width: 95%;
    margin: 1em auto; 
    padding: 0.5em 1em; 
    border: 3px solid var(--headerbgcolor); 
    border-radius: 17px; 
    color: var(--breadcrumbtextcolor); 
    text-align: left;
}


/* REGISTRATI E ACCEDI */
#formcontent {
    text-align: left;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 400px;
    margin: 3em auto;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

#formcontent:hover {
    box-shadow: 0px 2px 15px var(--headerbgcolor);
}

#formcontent fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

/* Input stili */
#formcontent .styleInput {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

#formcontent .styleInput:focus {
    border-color: #ff6a38;
    outline: none;
}

/* Bottone Registrati */
#formcontent .button {
    background: var(--headerbgcolor);
    color: #ffffff;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    transition: transform 0.3s ease;
    margin-top: 1em;
}

#formcontent .button:hover {
    background: #a83d1a;
}

/* Errori */
#formcontent .errorSuggestion {
    display: block;
    color: var(--unvisitedlinkcolor);
    font-size: 0.8rem;
    margin-bottom: 2em;
}

/* Etichette */
/* Username, Password */
#formcontent label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
}

/* Titolo */
#formcontent h2 {
    text-align: center;
    color: black;
    margin-bottom: 1rem; 
    margin-top: 0.1em;  
}



/* PAGINA PERCORSI ANCORA DA SISTEMARE */
.left {
    background-color: var(--defaultbgcolor);
    padding: 3em 0 3em 0;
    flex: 2 2 100px;
}

.percorso {
    display: flex;
}

.mainPercorso {
    background: var(--defaultbgcolor);
    padding: 3em 0 3em 0;
    flex: 4 4 150px;
    display: flex;
    flex-direction: column;
}




.wrapper {
    position: relative;
    max-width: 25rem;
    margin-left: 5em;
}

.mapContainer {
    padding-top: 2rem;
    display: flex;
    aspect-ratio: 4/3;
}

.mapContainer img {
    border-radius: 0.5rem;
    flex: 1 0 100%;
}

.slider {
    display: flex;
    aspect-ratio: 4/3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: var(--defaultbgcolor);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.descrizione {
    padding: 1em;
    background-color: var(--percorsibgcolor);
    max-width: 80%;
    flex: 2;
    align-self: center;
    border-radius: 0.5rem;
}

.indicazioni {
    margin-top: 4rem;
    padding: 1em;
    background-color: var(--percorsibgcolor);
    max-width: 80%;
    flex: 1;
    align-self: center;
    border-radius: 0.5rem;
}

.recensioni {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--percorsibgcolor);
    width: 85%;
    flex: 1;
    align-self: center;
    border-radius: 0.5rem;
    margin-bottom: 2em;
    margin-left: 7%;
}

.recensione {
    padding: 0.7em;
    background-color: var(--defaultbgcolor);
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
}

.gpx {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

h4 {
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    padding-bottom: 1rem;
}

.contenitore-carte{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.carta{
    width: 325px;
    background-color: var(--percorsibgcolor);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}

.carta img{
    width: 100%;
    height: auto;

}

.link-percorso
{
    padding: 16px;
}

/* Footer */
footer {
    background-color: var(--footerbgcolor);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: auto; 
}

.button[type=button] {
    display: block;
    padding-left: 0.5em;
    padding-right: 0.5em;

    height: 2em;

    margin: auto;
    margin-bottom: 1em;
    
    
}

label:after {
    content: ": ";
}

.errorSuggestion {
    color: var(--textcolor);
    font-size: 1em;
    display: block;
     margin-top: -1em; 
}

.button[type=button]
{
    display: block;

    padding-left: 0.5em;
    padding-right: 0.5em;

    height: 2em;
    text-decoration: underline;
    margin-top: 1.2em;
}

.nomePercorso {
    align-self: flex-start;
    margin: 1em;
}

.descrizionePercorso {
    margin: 1em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

h3 {
    align-self: flex-start;
}

p {
    text-align: start;
}

hr{
    height:8px;
    background-color: var(--textcolor);
    border-radius: 0.3em;
}

.valutazione {
    margin-top: 1em;
}

.inputRecensione {
    display: flex;
    align-self: flex-start;
    height: 3em;
    width: 80%;
}

.contenitore-alert{
    padding-bottom: 1em;
    width: 100%;
}

.alert{
    width: 25em;
    text-align: center;
    color: var(--textcolor);
    padding: 0.3em;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--footerbgcolor);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: auto;
} 
    
